@charset "UTF-8"; /* define a codificação de caracteres como UTF-8 */
/* File: style.css */

body {
    background-color: lightgoldenrodyellow;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
        } /* useimos o seletor body para estilizar o corpo da página*/
        /* background-color significa a cor de fundo */
        /* font-family significa a fonte usada */
        /* font-size significa o tamanho da fonte */
        h1 {
            color: maroon;
            background-color: darkgoldenrod;
        } /* usamos o seletor h1 para estilizar o cabeçalho principal */
        h2 {
            color: darkred;
        } /* usamos o seletor h2 para estilizar os subcabeçalhos */
        /* color significa a cor */
        p {
            text-align: justify;    
        } /* usamos o seletor p para estilizar os parágrafos */ 
        /* text-align: justify significa que o parágrafo será justificado */